*{
	margin: 0;
	padding: 0;
	
}



.home{
	background: url(../images/bg1.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}


.home h1{
	color: white;
	text-shadow: 0px 0px 15px black;
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	padding-bottom: 15px;
	letter-spacing: 2px;
}

.btn{
	background-color: orange;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	font-family: Helvetica;
	font-size: 15px;


}

.btn:hover{
	background-color: red;
	transition: .5s;
	box-shadow: 2px 5px black;
}

.about{
	background: url(../images/bg2.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;

}

.about h1{
	color: white;
	text-shadow: 0px 0px 15px black;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	letter-spacing: 2px;
	
}

.left p{
	color: salmon;
	font-family: Helvetica;
	font-size: 25px;
	text-shadow: 1px 1px black;
	font-weight: bold;

}

.left{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.details{
	width: 500px;
	height: 150px;

}

.right{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;

}

.right p{
	color: salmon;
	font-family: Helvetica;
	font-size: 25px;
	text-shadow: 1px 1px black;
	text-align: center;
	width: 500px;
	padding-top: 80px;
	font-weight: bold;
}
.profile{
	background: url(../images/bg3.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0px 0px 25px black;

}

.profile h2{
	color: white;
	text-shadow: 0px 0px 15px black;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	letter-spacing: 1px;
	text-align: center;
}

.gallery{
	background: url(../images/bg4.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery img{
	width: 200px;
	height: 200px;
	border: solid 5px white;
	transition: .5s;

}

.gallery img:hover{
	transform: scale(1.3);
	
}

.gallery h1{
	color: white;
	text-shadow: 0px 0px 10px black;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	letter-spacing: 1px;
	padding-bottom: 20px;
}

.form{
	background: url(../images/bg5.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form form{
	height: 60vh;
	width: 400px;
	text-align: center;
	margin-left: 50px;
}

form > h4 {
	color: white;
	text-shadow: 0px 0px 10px black;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	letter-spacing: 1px;
	text-align: center;
	margin: 10px;
}

input {
	display: block;
	border: 1px solid black;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}

textarea{
	display: block;
	border: 1px solid black;
	margin: 10px auto;
	height: 100px;
	width: 400px;
	border-radius: 10px;
}

.form h2{
	color: salmon;
	font-family: Helvetica;
	font-size: 25px;
	text-shadow: 1px 1px black;
	text-align: center;
	width: 500px;
	font-weight: bold;
	margin: 0 auto;
}